# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.UDEMYMASTERCLASSFORCSHARP.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\MyDesktop\UdemyCSharpMasterClass\UDEMYMASTERCLASSFORCSHARP\.idea\.idea.UDEMYMASTERCLASSFORCSHARP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
